{{>partials/header}}

<br><br><br><br>

<form method="POST" action="idade-resultado">

    Em que ano você nasceu?
    <input type="number" name="anoNascimento" placeholder="Insira o ano de nascimento">
    <input type="submit" value="Enviar">

</form>

{{#mostrarIdade}}
    Você tem {{idade}} anos
{{/mostrarIdade}}

<br><br><br>

{{>partials/footer}}