{{>partials/header}}

<br><br><br><br>

<h2>Qual o seu nome? criatura</h2>
<form method="get">
    <input type="text" name="nome" placeholder="Digite seu nome">
    <input type="submit" value="Enviar">
</form>

{{#nome}}
    Opa {{nome}}, tudo bem?
{{/nome}}


<br><br><br><br>

{{>partials/footer}}